@model WebApp.ViewModels.Lab4ViewModel

<section class="social" id="socialLoginForm">
    @if(Model != null && Model.RunningCalculations != null && Model.RunningCalculations.Count > 0)
    {	
		<span>Session will expire at: @Model.SessionTimeOut</span>
        <h2>Running Total</h2>
        <table>        
		@foreach(string op in Model.RunningCalculations)
        {
            <tr>
                <td style="width: 100px; text-align:right;">@op</td>
            </tr>
        }
            <tr>
                <td style="width: 100px; text-align:right;">
                    <span>------------</span><br />
                    @Model.RunningTotal<br />
                    <span>------------</span><br />
                </td>
            </tr>
        </table>	
    }

    @if(!string.IsNullOrEmpty(Request.Params["clearmemory"]) && Request.Params["clearmemory"] == "C")
    {
        <h2>Session Data Cleared</h2>
    }
</section>