<div class="rtq_leaf">
    <div class="rtq_div">
        <div class="yui-g">
            <div class="yfi_rt_quote_summary">
                <div class="hd">
                    <div class="title">
                        <h2>Stock symbol not found</h2>                        
                    </div>
                </div>
                <div class="yfi_rt_quote_summary_rt_top">
                    <p>
                       To get a quote, enter a stock symbol in the quote box above.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
