@{
    ViewBag.Title = "Lab6";
    Layout = "~/Views/Shared/_Layout_bstrp.cshtml";
}

<div style="float:right; text-align:right; padding-top:40px;">
    <span style="font-weight:bold;">Refresh:</span>
    <select id="RefreshInterval" name="RefreshInterval" style="font-weight:bold; color:Green;">                        
        <option value="1">1 min</option>
        <option value="3">3 min</option>
        <option value="5">5 min</option>
        <option value="15">15 min</option>
        <option value="60">1 hrs</option>
        <option value="120">2 hrs</option>
    </select>
    <input type="hidden" id="RefreshIntervalValue" name="RefreshIntervalValue" value="1">
    <input type="hidden" id="count" name="count" value="1">
</div>
<br />

<h1>Overview</h1>
<p>Implement a small series of web pages which demonstrate your ability to render the same text under different cascading style sheets (CSS) formats. You must implement at least 3 different CSS styles, one of those styles should be clearly for on-screen viewing while another style should be clearly for printing.</p>

<h2>Bonus Points</h2>
<p>See scoring rubric above for the description of the feature needed.</p>

<h3>Deliverables</h3>
<p>Show your work to Dr. V or upload a short (1-3 minute) video to D2L (or just post the link to the video on D2L) demonstrating your working web site and the code that powers it. Alternatively, you can schedule a short (10-minute) in-person presentation with Dr. V by going to http://drchrisveltsos.youcanbookme.com/ </p>