@{
    ViewBag.Title = "Janith C. Samarasekera - Web Portfolio";
}

<div class="page-header" id="banner">
    <div class="row">
        <div class="col-lg-6">
            <h1>Web Portfolio</h1>
            <p class="lead">Janith C. Samarasekera</p>
        </div>
        <div class="col-lg-6" style="padding: 15px 15px 0 15px;">
            <div class="well sponsor">                
                <a href="http://www.w3schools.com/aspnet/razor_intro.asp" rel="nofollow" target="_blank">
                    <h4 style="margin-bottom: 0.4em;">ASP.NET MVC 4</h4>
                    <div class="clearfix">
                        <p>Using ASP.NET Razor markup.</p>                   
                    </div>
                </a>
                <a href="http://www.w3schools.com/html/html5_intro.asp" rel="nofollow" target="_blank">
                    <h4 style="margin-bottom: 0.4em;">HTML 5</h4>
                    <div class="clearfix">                   
                    </div>
                </a>
                <a href="http://bootswatch.com/spacelab/" rel="nofollow" target="_blank">
                    <h4 style="margin-bottom: 0.4em;">Bootswatch</h4>
                    <div class="clearfix">
                        <p>Using fully responsive Bootswatch Spacelab template.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
