@{
    ViewBag.Title = "Janith C. Samarasekera - Resume";
    Layout = "~/Views/Shared/_Bootstrap_Layout.cshtml";
}

<div class="container" style="border-left:1px solid #ccc;border-right:1px solid #ccc">
	<div class="row">
		<div class="col-md-3 hidden-xs hidden-sm">&nbsp;</div>
		<div class="col-md-9">
			<h1>Janith C. Samarasekera</h1>
			<h3>Senior Programmer/Analyst</h3>
			<p><span style="display:block;width:25px;float:left"><i class="icon-home"></i></span><span>North Mankato, Minnesota</span></p>
			<p><span style="display:block;width:25px;float:left"><i class="icon-envelope"></i></span><span>xxxxx.xxxxxxxxxx@gmail.com</span></p>
			<p><span style="display:block;width:25px;float:left"><i class="icon-phone-sign"></i></span><span>(+01) 507 xxx xxx</span></p>
		</div>
	</div>
	<hr />
    <div class="row">
		<div class="col-md-12">
			<h2>Technologies</h2>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-2" style="text-align:left"><p class="lead"></p></div>
		<div class="col-md-9">
			<dl class="dl-horizontal">
				<dt>Programming:</dt>
				<dd>C#, VB.NET, ASP.NET, Classic ASP, ASP.NET MVC, Windows Forms, WPF</dd>				
			</dl>
            <dl class="dl-horizontal">
				<dt>Database:</dt>
				<dd>Microsoft SQL Server, Oracle, My SQL, Raven DB, Microsoft Access</dd>				
			</dl>
            <dl class="dl-horizontal">
				<dt>Other:</dt>
				<dd>XML, XSLT, ASP.NET MVC Razor, AJAX, Jquery, HTML 5, Java, Cold Fusion, Microsoft SSIS, Microsoft BizTalk</dd>				
			</dl>
            <dl class="dl-horizontal">
				<dt>3rd Party Tool Kits:</dt>
				<dd>Telerik, Dev Express</dd>				
			</dl>
            <dl class="dl-horizontal">
				<dt>Open Source:</dt>
				<dd>Umbraco CMS, nopCommerce</dd>				
			</dl>
		</div>
	</div>
    <hr />
	<div class="row">
		<div class="col-md-12">
			<h2>Work Experience</h2>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-3" style="text-align:left"><p class="lead">Dec. 2011 - Present</p></div>
		<div class="col-md-9">
			<p class="lead">Senior Programmer/Analyst (Team Lead)</p>
			<dl class="dl-horizontal">
				<dt>Company</dt>
				<dd>Travel Tags Inc., a Taylor Corporation Company</dd>
				<dt>City</dt>
				<dd>North Mankato</dd>
				<dt>Activity field</dt>
				<dd>IT Department</dd>
			</dl>
			<h4>Responsibilities</h4>
			<ul>                
				<li>Analyze, design, develop, test and deploy software programs and business applications.</li>
				<li>Develop and maintain backend services using C#, ASP.NET, MS SQL, IBM DB2, MS SSIS, MS Link Server, XML, Windows Services, and BizTalk.</li>
                <li>Act as team lead for IT. Requirements gathering, documentation and estimating. Served as interim IT manager.</li>
			</ul>
		</div>
	</div>
    <hr />
    <div class="row">
		<div class="col-md-3" style="text-align:left"><p class="lead">May. 2005 - Nov 2011</p></div>
		<div class="col-md-9">
			<p class="lead">Senior Programmer/Analyst</p>
			<dl class="dl-horizontal">
				<dt>Company</dt>
				<dd>James Tower/BlueHue Interactive, a Taylor Corporation Company</dd>
				<dt>City</dt>
				<dd>North Mankato</dd>
				<dt>Activity field</dt>
				<dd>IT Department</dd>
			</dl>
			<h4>Responsibilities</h4>
			<ul>
				<li>Develop client/server web applications using C#, ASP.NET/MVC, HTML, CSS, XML, XSLT, AJAX, JavaScript.</li>
				<li>Developing and deploying various custom websites using Umbraco CMS platform</li>
				<li>Requirements gathering, documentation and estimating.</li>
			</ul>
		</div>
	</div>
    <hr />
    <div class="row">
		<div class="col-md-3" style="text-align:left"><p class="lead">Aug 2004 - Apr 2005</p></div>
		<div class="col-md-9">
			<p class="lead">Computer Programmer / Analysts</p>
			<dl class="dl-horizontal">
				<dt>Company</dt>
				<dd>Perfecseal Mankato, a Bemis Company</dd>
				<dt>City</dt>
				<dd>Mankato</dd>
				<dt>Activity field</dt>
				<dd>IT Department</dd>
			</dl>
			<h4>Responsibilities</h4>
			<ul>
				<li>Successfully designed, develop and test a shop floor application using .Net Framework.</li>
			</ul>
		</div>
	</div>
    <hr />
	<div class="row">
		<div class="col-md-12">
			<h2>Education</h2>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-3" style="text-align:left"><p class="lead">Jan 2011 – May 2014</p></div>
		<div class="col-md-9">
			<p class="lead">Master of Science in Information Technology</p>
			<dl class="dl-horizontal">
				<dt>Name of Organization</dt>
				<dd>Minnesota State University, Mankato</dd>
				<dt>Specializing in</dt>
				<dd>Database and Networking</dd>
				<dt>Technologies</dt>
				<dd>.NET Framework, C#, ASP.NET, ASP.NET MVC, TSQL, PLSQL, Windows Server 2008, Microsoft SQL Server 2008, Oracle</dd>
			</dl>
		</div>
	</div>
    <hr />
	<div class="row">
		<div class="col-md-3" style="text-align:left"><p class="lead">Jan 2000 – Dec 2004</p></div>
		<div class="col-md-9">
			<p class="lead">B.Sc. in Computer Science Management Information Systems</p>
			<dl class="dl-horizontal">
				<dt>Name of Organization</dt>
				<dd>Minnesota State University, Mankato</dd>
				<dt>Specializing in</dt>
				<dd>Computer Science and Management</dd>
				<dt>Technologies</dt>
				<dd>.NET Framework, C#, Classic ASP, ASP.NET, Java, TSQL, PLSQL, Windows Server 2008, Microsoft SQL Server 2008, Microsoft Access</dd>
			</dl>
		</div>
	</div>
	<hr />	
</div>
