@{
    ViewBag.Title = "Janith C. Samarasekera - Resume";
    Layout = "~/Views/Shared/_Bootstrap_Layout.cshtml";
}

<div class="container" style="border-left:1px solid #ccc;border-right:1px solid #ccc">
	<div class="row">
		<div class="col-md-3 hidden-xs hidden-sm">&nbsp;</div>
		<div class="col-md-9">
			<h1>Janith C. Samarasekera</h1>
			<h3>Senior Programmer/Analyst</h3>
			<p><span style="display:block;width:25px;float:left"><i class="icon-home"></i></span><span>North Mankato, Minnesota</span></p>
			<p><span style="display:block;width:25px;float:left"><i class="icon-envelope"></i></span><span>xxxxx.xxxxxxxxxx@gmail.com</span></p>
			<p><span style="display:block;width:25px;float:left"><i class="icon-phone-sign"></i></span><span>(+01) 507 xxx xxx</span></p>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-12">
			<h2>Work Experience</h2>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-3" style="text-align:right"><p class="lead">Dec. 2011 - Present</p></div>
		<div class="col-md-9">
			<p class="lead">Senior Programmer/Analyst (Team Lead)</p>
			<dl class="dl-horizontal">
				<dt>Company</dt>
				<dd>Travel Tags Inc., a Taylor Corporation Company</dd>
				<dt>City</dt>
				<dd>North Mankato</dd>
				<dt>Activity field</dt>
				<dd>IT Department</dd>
			</dl>
			<h4>Responsibilities</h4>
			<ul>
				<li>Design, Develop, Test, and Deploy software applications;</li>
				<li>Establishing the Annual Marketing Plan, marketing budgets and forecasts;</li>
				<li>Interacting with individuals outside the hotel, including clients, local hotel associations, government, tourist offices, airlines, travel agents, tour operators, competitors and other members of the local community.</li>
			</ul>
		</div>
	</div>
    <hr />
	<div class="row">
		<div class="col-md-12">
			<h2>Education</h2>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-3" style="text-align:right"><p class="lead">2011 - 2014</p></div>
		<div class="col-md-9">
			<p class="lead">Master of Science in Information Technology</p>
			<dl class="dl-horizontal">
				<dt>Name of Organization</dt>
				<dd>Minnesota State University, Mankato</dd>
				<dt>Specializing in</dt>
				<dd>Database and Networking</dd>
				<dt>Technologies</dt>
				<dd>.NET Framework, C#, ASP.NET, TSQL, PLSQL, Windows Server 2008, Microsoft SQL Server 2008</dd>
			</dl>
		</div>
	</div>
	<hr />	
</div>
