@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h2>
        Sorry, an error occurred while processing your request.
        <br />
        @Model.ActionName
        <br />
        @Model.ControllerName
        <br />
        @Model.Exception.Message
        <br />
        @Model.Exception.StackTrace
    </h2>
</body>
</html>