@{
    ViewBag.Title = "Assignment Main Page";
}

<h1>Assignment Work</h1>
<h5>@Html.ActionLink("Assignment 1 - Printing Calculator", "Assignment1", "Assignments")</h5>
<h5>@Html.ActionLink("Assignment 2 - 2nd Grade Math Game", "Assignment2", "Assignments")</h5>
<h5>@Html.ActionLink("Assignment 3 - Airport Weather", "Assignment3", "Assignments")</h5>
