@{
	ViewBag.Title = "Assignment1";
}

@section styles{
	@Styles.Render("~/academichonesty/css")
}

<div id="page_1">
	<p class="p0 ft0">University Policy</p>
	<table cellpadding="0" cellspacing="0" class="t0">
		<tr>
			<td class="tr0 td0">
				<p class="p1 ft2">
					<span class="ft1">Policy Name: </span>Academic Honesty</p>
			</td>
			<td class="tr0 td1">
				<p class="p2 ft1">
					Date of Adoption</p>
			</td>
		</tr>
		<tr>
			<td class="tr1 td2">
				<p class="p3 ft3">
					&nbsp;</p>
			</td>
			<td class="tr1 td3">
				<p class="p4 ft4">
					July 2000</p>
			</td>
		</tr>
		<tr>
			<td class="tr2 td4">
				<p class="p1 ft1">
					Custodian of Policy: <span class="ft2">Vice President</span></p>
			</td>
			<td class="tr2 td5">
				<p class="p5 ft5">
					Effective Date of Last Revision</p>
			</td>
		</tr>
		<tr>
			<td class="tr2 td2">
				<p class="p1 ft2">
					for Academic and Student Affairs</p>
			</td>
			<td class="tr2 td3">
				<p class="p4 ft4">
					June 15, 2012</p>
			</td>
		</tr>
		<tr>
			<td class="tr1 td4">
				<p class="p3 ft3">
					&nbsp;</p>
			</td>
			<td class="tr1 td5">
				<p class="p4 ft5">
					Date of Next Review</p>
			</td>
		</tr>
		<tr>
			<td class="tr0 td2">
				<p class="p3 ft6">
					&nbsp;</p>
			</td>
			<td class="tr0 td3">
				<p class="p4 ft4">
					September 2018</p>
			</td>
		</tr>
		<tr>
			<td class="tr3 td6">
				<p class="p1 ft1">
					Policy</p>
			</td>
			<td class="tr3 td7">
				<p class="p3 ft6">
					&nbsp;</p>
			</td>
		</tr>
	</table>
	<p class="p6 ft7">
		As members of this University community, students assume the responsibility to fulfill
		their academic obligations in a fair and honest manner. This responsibility includes
		avoiding inappropriate activities such as plagiarism, cheating or collusion. Students
		found responsible for one or more of these activities may face both academic sanctions
		(such as lowering a grade, failing of a course, etc.) and disciplinary sanctions
		(such as probation, suspension, or expulsion).</p>
	<p class="p7 ft7">
		It is the intent of Minnesota State University, Mankato to encourage a sense of
		integrity on the part of students in fulfilling their academic requirements. To
		give students a better understanding of behaviors that may constitute academic dishonesty,
		the following definitions are provided.</p>
	<p class="p8 ft8">
		Plagiarism: Submission of an academic assignment as one’s own work, which include
		written narrative that are taken from another author without the proper citation.
		This applies both to direct</p>
	<p class="p9 ft7">
		quotes and to critical ideas paraphrased by the student. Plagiarism includes but
		is not limited to:</p>
	<p class="p10 ft7">
		<span class="ft7">1.</span><span class="ft9">submitting the work of others as your own;</span></p>
	<p class="p11 ft7">
		<span class="ft7">2.</span><span class="ft9">submitting others’ work as your own ;with
			only minor changes</span></p>
	<p class="p12 ft7">
		<span class="ft7">3.</span><span class="ft9">submitting others’ work as your own without
			adequate footnotes, reference forms; or</span></p>
	<p class="p12 ft7">
		<span class="ft7">4.</span><span class="ft9">multiple submission of the same work, written
			or oral, for more than one course without</span></p>
	<p class="p14 ft7">
		both instructor’s permission, or making minor revisions on work and submitting it
		again as new work.</p>
	<p class="p15 ft8">
		Cheating: Use of unauthorized material or assistance to help fulfill academic assignments.</p>
	<p class="p16 ft7">
		This material could include unauthorized copies of test materials, calculators,
		electronics, crib sheets, help from another student, etc.</p>
	<p class="p17 ft7">
		Collusion: Assistance to another student or among students in committing the act
		of cheating or plagiarism.</p>
	<p class="p18 ft1">
		Procedures</p>
	<p class="p19 ft7">
		Minnesota State Mankato’sStatement of Student Responsibilities policy offers additional
		information regarding procedures for addressing academic honesty.</p>
	<p class="p20 ft7">
		The Office of Student Conduct provides the procedural structure supporting the Academic
		Honesty policy. A referral regarding academic honesty can be made by contacting
		the Office of Student Conduct.</p>
	<p class="p18 ft1">
		Rationale</p>
	<p class="p20 ft7">
		In order for an academic community to teach and support appropriate educational
		values, an environment of trust, cooperation, and personal responsibility must be
		maintained.</p>
</div>
