@{
	ViewBag.Title = "Assignment 1";
}

<h1>Please Follow the links below</h1>
<h5>@Html.ActionLink("MSU Academic Honesty Policy", "AcademicHonestyPolicy", "Assignments")</h5>
<h5>@Html.ActionLink("MSU University Student Conduct Process", "StudentConductProcess", "Assignments")</h5>
