@{
	ViewBag.Title = "MSU University Student Conduct Process";
}
@section styles{
	@Styles.Render("~/studentconductprocess/css")
}
<nav><span class="meta-nav">←</span>@Html.ActionLink("Go back", "Assignment1", "Assignments")</nav>

<h1>MSU University Student Conduct Process</h1>
<h2>Introduction</h2>
<p>The Statement of Student Responsibilities is influenced by the
Minnesota State Mankato’s statement of Core Values:</p>
<p>Minnesota State Mankato is an innovative, student-centered
learning community that values:</p>
<div id="list-bullet">
<ul>
<li>Integrity and respect in the way we conduct ourselves;</li>
<li>Diversity in who we are and what we do;</li>
<li>Access to our programs and services that create
opportunities for all to pursue their dreams;</li>
<li>Responsibility to those we serve by providing an
education that inspires solutions to society’s challenges;
and</li>
<li>Excellence in our academic and non-academic pursuits.</li>
</ul>
<p>Minnesota State Mankato encourages scholarship and is
committed to the acquisition of knowledge. A student’s first
responsibility is to study. To allow individuals to pursue
successfully their educational, professional and personal
objectives, the University identifies responsibilities expected of
students as members of this learning community.</p>
<ul>
<li>Each student is responsible for knowing and adhering to
the prescribed community standards. A student found to
have violated the “Statement of Student Responsibilities”
policy will receive a maximum disciplinary sanction of
expulsion, or any sanction not less than a warning.</li>
<li>Disciplinary action is cumulative resulting in more serious
consequences if the student engages in repeat violations
or fails to follow through with sanctions from a previous
hearing.</li>
<li>Being under the influence of alcohol and/or other drugs
does not in any way excuse or mitigate responsibility for
a student’s actions. The excessive, illegal, unprescribed
or otherwise socially irresponsible use of alcohol or other
drugs infringes upon one’s ability to preserve personal
integrity and civility.</li>
<li>Any violation of the Statement of Student Responsibilities
policy is aggravated in severity when bias motivation is
involved.</li>
</ul>
</div>
<h2>
	Policy Statement</h2>
<p>
	Students are dual members of the Minnesota State University, Mankato community and
	society. Good citizenship is expected of all students regardless of location. Students
	who engage in alleged violations of the “Statement of Student Responsibilities”
	policy may also face civil or criminal penalties. This Statement is not intended
	to replace federal, state or local legal processes.</p>
<p>
	The Statement of Student Responsibilities was established by students, faculty,
	and staff to clarify behavioral expectations of students. The following responsibilities
	promote a sense of community where maturity, personal accountability, and positive
	regard for the well-being of others frame choices and decision-making:</p>

<h2>Student Responsibilities</h2>
<p style="font-weight: bold;">
	1. Individuals will fulfill their academic responsibilities in an honest and forthright
	manner.</p><p style="font-weight: bold;">All students have a responsibility to maintain the academic integrity of
	the university and each student must at all times keep in mind that his or her behavior
	reflects not only upon him/herself, but upon other students, the faculty, and the
	university as a whole. Each and every student is responsible for becoming familiar
	with and abiding by the University policy on plagiarism and academic honesty as
	well as the guidelines and policies established by their instructors and programs
	of study.</p>
<p>
	Examples of violations include but are not limited to: plagiarism (such as using
	another’s phrasing, concepts, or line of reasoning as your own); submitting course
	assignments that are not your own; submitting the same paper in different classes
	without prior approval from both instructors; cheating on assignments, laboratory
	reports or examinations; acquiring or using test materials without faculty knowledge;
	failure to follow class policy; obtaining academic benefits through inappropriate
	application of technology; computer fraud or unauthorized access; engaging in academic
	fraud alone or with others; downloading material off the Internet without proper
	citation; illicit attempts to influence grading; failing to abide by test-taking
	procedures; signing the class attendance roster for an absent student.</p>
<p style="font-weight: bold;">
	2. Individuals will respect and foster the academic endeavors of others.</p><p style="font-weight: bold;">Minnesota
	State Mankato exists to promote learning, and as such, students must behave in such
	a way so as to allow the process of learning to take place by group or individual.</p>
<p>
	Examples of violations include but are not limited to: harassment of a faculty member;
	disrupting teaching or learning; excessive noise that disrupts classes, studying
	or University activities; other activities that seriously disrupt the educational
	process; intentionally altering, inhibiting or stealing another person’s research.</p>
<p style="font-weight: bold;">3. Individuals will respect the integrity of the University’s
academic and administrative records.</p>
<p style="font-weight: bold;">Those records are the property of the University and must be treated as such.</p>
<p>Examples of violations include but are not limited to:
acting alone or with others to misrepresent academic
status, performance, awards or graduation material;
omitting material from or manipulating records; falsifying,
altering, stealing or destroying University documents;
altering, forging or misusing University academic records;
obtaining grades, course access, awards or endorsements
dishonestly; computer fraud.</p>
<p style="font-weight: bold;">4. Individuals will adhere to all policies and regulations of
Minnesota State Mankato and the Minnesota State Colleges
and Universities system along with federal, state and local
laws that govern individual actions and relationships
among community members.</p>
<p style="font-weight: bold;">When students accept admission to Minnesota State
Mankato, they accept the responsibilities that go along
with membership in the University community. The
University complies with federal, state, and local laws, and
expects students to act in accordance with the law. The
University holds students to high standards of conduct and
ethical behavior, which may exceed legal obligations.</p>
<p>Examples of violations include but are not limited to:
sexual violence; unauthorized or illegal consumption or
possession of alcohol; public drunkenness; possession,
sale or distribution of illegal material or substances;
violation of University or departmental policies, violation
of law; defenestration (throwing items out a window);
violation of University e-mail or computer usage policy;
possession of false identification; engaging in riotous
behavior or encouraging others to do so; illegal gambling;
inappropriate use of electronic devices, e.g. cell phones.</p>
<p style="font-weight: bold;">5. Individuals will protect and support the personal safety of
self and others.</p>
<p style="font-weight: bold;">Living in a community requires that students respect
another’s personal space. Students have the right to
pursue their academic and personal goals free from
the threat of injury, threats or unwanted contact. Self-injurious
behavior has the potential to adversely disrupt the academic and personal success of both the
student involved and other Minnesota State Mankato
students. Physical safety is a prerequisite for maintaining
an educational environment. Violations of these
expectations need to be addressed in order to maintain
the boundaries of all students.</p>
<p>Examples of violations include but are not limited to: sexual
violence; indecent exposure; stalking (persistent unwelcome
contact or observation); threatening with a weapon or
simulated weapon; fighting; physical violence, unsolicited,
nonconsensual sexual or physical contact with another
person; endangering the health or safety of self or others;
reckless actions taken with disregard for the harm that may
ensue to self or others; participation in a disturbance which
may endanger self or others.</p>
<p style="font-weight: bold;">6. Individuals will demonstrate civility for others in all their
interactions.
As a member of the Minnesota State Mankato
community, all students owe to their fellow students, as
well as to the faculty, staff, and other members of the
community, a basic level of respect; and students have
a right to be treated with respect as well. Minnesota
State Mankato respects and protects the right of students,
faculty, staff and visitors to engage in argument, to
advance their opinions and beliefs without fear of
reprisal or punishment, and to disagree with one another
provided that the exercise of those rights takes place
within a context of civility and respect for others.</p>
<p>Examples of violations include but are not limited to:
disruptive noise; terroristic threats; sexual harassment; verbal
or written intimidation; severe or persistent harassment
through verbal, written or graphic expression; hazing
(defined as mandating undesirable activities, a pattern of
banter/ridicule/criticism and/or the use of humiliation, as
a form of initiation); actions that substantially interfere with
another person’s right to learn and participate.</p>
<p style="font-weight: bold;">7. Individuals will show respect for personal and University
property.</p>
<p style="font-weight: bold;">As a member of the Minnesota State Mankato
community, all students will recognize, value, and
appropriately regard personal and University property.</p>
<p>Examples of violations include but are not limited to: identity
theft; vandalism; theft; actual or threatened damage to
property; acting fraudulently to obtain goods, services, or
funds from University departments, student organizations
or individuals; misuse and/or wrongful use of University
facilities, equipment or services; failure to return University equipment; wrongful sale or use of another’s property;
knowingly possessing or using stolen property; littering; public
urination; trespassing; unauthorized possession, distribution
or duplication of a University key(s); providing a key or ID
to another person without proper authorization; providing
another person with unauthorized access to a secured area;
intentional harm to computer equipment and programs.</p>
<p style="font-weight: bold;">8. Individuals will contribute to a safe environment within the
University community.</p>
<p style="font-weight: bold;">The University is a community and requires the active
participation of all members in keeping the community
peaceable and safe. Students are encouraged to
respect and be proactive about their own safety and the
safety of others.</p>
<p>Examples of violations include but are not limited to:
possession of weapons, incendiary devices or explosives;
possession of articles or substances that are used as
weapons or simulated weapons; misuse of University
keys; willful failure to identify or false identification of
oneself or one’s guest(s); failure to assume responsibility
for the actions of one’s guest(s); misuse or damage of fire
fighting, safety or other emergency equipment; failure to
comply with appropriate requests from University Security
or other University staff members; intoxication that disrupts
other individuals or the University’s activities; self-injurious
substance abuse; or interference with law enforcement or
University staff performing their duties.</p>
<p style="font-weight: bold;">9. Individuals will comply with the University in enforcing its
administrative responsibilities.</p>
<p style="font-weight: bold;">Successful operation of the University requires
adherence to policies and procedures by its members.
It is the responsibility of all University students, staff, and
guests to cooperate at all times with the University in
order to maintain a safe environment.</p>
<p>Examples of violations include but are not limited to:
retaliation toward an individual for involvement in a
University activity; disruption of activities of the University;
harassment of University staff (including student staff);
submission of a false or purposely incomplete statement/
report; misuse, alteration, or transference to another person
of the MavCard; failure to appear in response to a proper
summons, when requested to do so by a University official;
disruption of disciplinary activities; dishonesty as part
of a University hearing; misuse of one’s position within
the University; failure to comply with sanctions from a
disciplinary hearing; failure to comply with restriction from
areas on campus; or demanding inordinate amounts of
attention from faculty or staff.</p>

<h2>Definitions</h2>
<p>Allegations of discrimination, harassment, and sexual violence
as defined in MnSCU Board Policy shall be investigated and
resolved pursuant to MnSCU 1B, 1B.1, 1B.3 Equal Education
and Employment Opportunity Policies and Procedures.</p>
<p>For purposes of student conduct the following definitions apply:</p>
<p><span style="font-weight: bold;">Hazing.</span> An act which endangers the mental or physical health
or safety of a person, subjects a person to public humiliation
or ridicule, or which destroys or removes public or private
property for the purpose of initiation, admission into, affiliation
with, or as a condition for continued membership in a student
group, organization, or athletic team.</p>
<p><span style="font-weight: bold;">Preponderance of evidence.</span> A standard of responsibility that it
is more likely than not that the code has been violated.</p>
<p><span style="font-weight: bold;">Student.</span> The term “student” includes all persons who:</p>
<p>1. Are enrolled in one or more college courses, either credit
or non-credit;</p>
<p>2. Withdraw, transfer or graduate, after an alleged violation
of the student conduct code;</p>
<p>3. Are not officially enrolled for a particular term but who
have a continuing relationship with the University;</p>
<p>4. Have been notified of their acceptance for admission or
have initiated the process of application for admission or
financial aid; and/or</p>
<p>5. Are living in a University residence community although not
enrolled in the institution.</p>
<p><span style="font-weight: bold;">Summary suspension.</span> A suspension imposed without a formal
hearing to protect the safety and well-being of the campus
community.</p>
<p><span style="font-weight: bold;">Suspension.</span> Denial of the privilege of enrollment for a
specified period of time after which the student is eligible to
return. Conditions for re-enrollment may be specified.</p>
<p><span style="font-weight: bold;">Expulsion.</span> Permanent denial of the privilege of enrollment.</p>
<h2>Jurisdiction</h2>
<p>All students, regardless of the location of their residence, must
demonstrate good character as members of the University
community. The University will address violations of the
“Statement of Student Responsibilities” that occur on campus,
including satellite campus sites.</p>
<p>The University may also initiate conduct proceedings for off-campus
incidents when:</p>
<p>(1) Hazing is involved; or</p>
<p>(2) The violation is committed while participating in a
University sanctioned or sponsored activity; or</p>
<p>(3) The victim of the violation is a member of the University
community; or</p>
<p>(4) The violation constitutes a felony under state or federal law;
or</p>
<p>(5) The violation adversely affects the educational, research or
service function of the University, e.g. riotous behavior.</p>
<p>Administration has sole discretion to decide whether the student
conduct code shall be applied to conduct occurring off-campus
on a case by case basis.</p>
<p>Off-campus jurisdiction for alcohol and drug violations extends to:</p>
<ul>
<li>Significant first time alcohol or drug-related violations such
as furnishing alcohol to minors, social host violations,
distribution of illicit drugs;</li>
<li>Repeated alcohol or drug-related legal violations;</li>
<li>Substance use necessitating medical assistance; or</li>
<li>Situations in which alcohol and drug use prevented the
student from being able to fulfill essential functions or
created a direct threat to the safety of others.</li>
</ul>
<p>Residential Life conduct procedures are articulated in the
Residential Life Student Guide.</p>

<h3>Online Communication</h3>
<p>Students are encouraged to become actively engaged in
the University community. Social networking websites, e.g.
Facebook, MySpace, provide additional means for students
to connect with one another. Communication on these sites
is considered a public forum and can be viewed by anyone.
To support personal safety and guard against identity theft,
students are cautioned against including class schedules,
birthdates, cell phone numbers and addresses on their profiles.
<span style="font-weight: bold;">While the University does not monitor such sites, suspected
violations of law or University policy posted online may be
submitted to campus officials and police for investigation and
use in a disciplinary proceeding.</span></p>

<h2>Due Process in Academic
and Disciplinary Proceedings</h2>
<h3>Staff and Administrative Decisions</h3>
<p>Alleged violations of rules or policies developed by an
administrative unit may be reviewed and/or addressed within
that unit. An alleged violation also may be referred to the
Office of Student Conduct for discipline with the agreement
of the unit representative and the Director of Student Conduct.
The Office of Student Conduct may determine the appropriate
recourse for addressing alleged student misconduct in
consultation with the Department of Residential Life, Office
of Affirmative Action, Office of Human Resources, and the
College of Graduate Studies and Research.</p>
<h3>Faculty and Academic Department Decisions</h3>
<p>Allegations of academic dishonesty, e.g. cheating and
plagiarism, are addressed by the instructor. <span style="font-weight: bold;">Academic
sanctions such as a failing grade or dismissal from the
program, will first be determined by the instructor and the
academic unit.</span> The matter may then be referred to the Office
of Student Conduct after consultation with department chair
for possible disciplinary action in addition to the academic
consequences imposed by the department.</p>
<p>Graduate students are also subject to academic integrity
expectations and review procedures established by the
College of Graduate Studies and Research.</p>
<p><span style="font-weight: bold;">Academic dishonesty addressed by a faculty member entitles
students to the following due process considerations:</span></p>
<p>1. Oral or written notice of the allegations.</p>
<p>2. An explanation of the complaint.</p>
<p>3. An opportunity to present their side of the story.</p>
<p>4. Written notice of the decision and any applicable
sanction(s).</p>
<p>5. An opportunity to appeal the decision and sanction(s).</p>
<p><span style="font-weight: bold;">Disciplinary actions addressed by a conduct officer within the
Office of Student Conduct entitle students to the following due
process considerations:</span></p>
<p>1. Written notice of the allegations and the Student
Responsibility allegedly violated.</p>
<p>2. An explanation of the complaint.</p>
<p>3. An opportunity to tell their side of the story.</p>
<p>4. An opportunity to be accompanied by a support person
who can advise, but not participate directly.</p>
<p>5. Written notice of the outcome and any applicable sanctions.</p>
<p>6. An opportunity to appeal in accordance with the
applicable grounds and timeline for appeal.</p>
<p><span style="font-weight: bold;">Student conduct proceedings are not analogous to courtroom
proceedings; the technical procedures and rules of evidence
applicable to civil and criminal cases shall not apply.</span></p>
<h3>Role of Advisor</h3>
<p>A support person serving as an advisor cannot participate
in questioning or presentation of information. It is up to the
student to pick an advisor available at the designated date
and time. Attorney schedules are not taken into consideration
when scheduling conduct meetings since it is an educational
process, not a criminal proceeding. An advisor cannot also
serve as a witness.</p>
<h2>Communication with Students</h2>
<p>The official means of University communication with students is
mnsu.edu email. Conduct letters are sent through e-mail using
confidential Maxient software. Students are expected to check
e-mail frequently to avoid missing important correspondence
and deadlines.</p>
<h2>Summary Suspension</h2>
<p>In certain circumstances, a disciplinary administrator may
impose a summary suspension prior to the informal or
formal proceedings of the student conduct code. A summary
suspension may be imposed only when, in the judgment of
the administrator, the accused student’s presence on campus
would constitute a threat to the safety and well-being of
members of the campus community. To the greatest extent
possible before implementing the summary suspension, the
accused student shall be given oral or written notice of the
intent to impose summary suspension and shall be given
an opportunity to present oral or written arguments against
the imposition of the suspension. However, the refusal of a
student to accept or acknowledge this notice shall not prevent
the implementation of a summary suspension. Notice of the
summary suspension shall be provided in writing to the student.
After the student has been summarily suspended, the student
shall be provided an opportunity for a formal or informal
meeting within the shortest reasonable time period, not to
exceed nine (9) school or business days. During the summary
suspension, the student may not enter the campus without
obtaining prior permission from the administrator.</p>
<h2>Data Privacy Notice</h2>
<p>When investigating alleged student misconduct, Minnesota
State University, Mankato asks students to provide data
and information which may be private under State and
Federal Law. The information will be used by the conduct
officer and others whose jobs reasonably requires access
to the information in order to determine the facts and if any
action should be taken. It may also be used in subsequent
proceedings related to this matter.</p>
<p>Students are not required to disclose information during
an interview or conduct meeting. If the student agrees to
provide requested information, it will be used to assist in the
investigation. A student’s failure to provide the information
requested will require a decision to be made without benefit of
hearing the information that the student could provide.</p>
<p>The University expects that any information volunteered will
be truthful. Dishonesty as part of the conduct process is
grounds for subsequent disciplinary action and more severe
consequences.</p>
<p>The following individuals/entities may have a legal right
to access the information provided by students during the
investigative process:</p>

<p>1. To school officials who have a legitimate educational
interest in the records;</p>
<p>2. To authorized representatives of the U.S. Department of
Education, the Comptroller General, Attorney General,
and State and local educational authorities, in connection
with audit of state or federally supported education
programs;</p>
<p>3. In connection with a student’s request for or a receipt
of financial aid to determine the eligibility, amount, or
conditions of the financial aid, or to enforce the terms and
conditions of the aid;</p>
<p>4. To State and local officials or authorities if specifically
required by a State law that was adopted before
November 19, 1974 if the disclosure concerns the
juvenile justice system and the system's ability to effectively
serve the student whose records are released;</p>
<p>5. To organizations conducting certain studies for or on
behalf of the University;</p>
<p>6. To accrediting organizations to carry out their functions;</p>
<p>7. To comply with a judicial order or a lawfully issued
subpoena;</p>
<p>8. To appropriate parties (parents, law enforecement and
others) when an articulable and significant health or safety
emergency arises. A record must be created promptly
and maintained that includes the threat, description of
the records disclosed and to whom the records were
disclosed;</p>
<p>9. To individuals requesting directory information so
designated by the University;</p>
<p>10. To the victim of a crime of violence or non-forcible sex
offense, the University may release the final results of
any disciplinary proceeding conducted by the University
against the alleged perpetrator of that crime;</p>
<p>11. To other educational institutions where the student intends
to enroll or has enrolled at any time. This includes
returning educational records to the original source of the
record for apporpriate purposes, such as verification of
the document's authenticity;</p>
<p>12. In connection with information provided to the University
from law enforcement about a student required to register
as a sex offender;</p>
<p>13. In response to an ex parte court order from the U.S.
Attorney under the USA Patriot Act.</p>
<p>If any disciplinary action is taken and becomes final, the
nature of the final disposition of the disciplinary action,
together with the specific reasons for the action and
information documenting the basis of the action, excluding
information that would identify confidential sources, will be
disclosed to University officials with a “need to know” as
defined under the Family Educational Rights and Privacy Act.</p>
<h2>Retaliation Prohibited</h2>
<p style="font-weight: bold;">Retaliation against an individual for making a complaint or
participating in a disciplinary proceeding is prohibited and
subject to disciplinary action.</p>
<h2>Procedures</h2>
<p style="font-weight: bold;">The following procedures are applicable and specific to
matters addressed under MnSCU 3.6., Student Conduct.</p>
<h3>A. Initiation of Complaint</h3>
<p>Any member of the University community, or other individual
who has been impacted by the alleged behavior of a student,
may initiate a complaint by contacting the Director of Student
Conduct. While anyone may submit a complaint, the University
will first investigate to determine if the complaint seems warranted.
The person submitting a complaint will be provided a Tennessen
Warning and informed of the estimated time of investigation.</p>
<h3>B. Notification of the Student</h3>
<p>A student accused of violating a Responsibility will be notified
in writing of the nature of the evidence, the Responsibility(ies)
allegedly violated, and the possible sanctions.</p>
<h3>C. Informal Conduct Meeting</h3>
<p>The accused student will be offered an opportunity to meet with
a conduct officer to resolve the violation at an informal meeting.
During the meeting the conduct officer will review the complaint
with the student and allow the student to refute or acknowledge
the complaint. Within a reasonable time period following the
meeting, the conduct officer shall inform the student in writing
of the decision and whether a violation of the “Statement of
Student Responsibilities” was established by a preponderance
of evidence. The outcome letter will also identify any applicable
sanctions as well as options available for an appeal.</p>
<p><span style="text-decoration: underline;">If the accused student fails to appear, the conduct officer or
Conduct Board may proceed to review and act upon the
complaint and shall notify the student in writing of the decision
and sanctions, if applicable.</span> A “hold” may also be placed on
registration pending resolution of the matter and completion
of sanctions.</p>
<h3>D. Formal Hearing</h3>
<p>A student who is subject to a sanction of expulsion or
suspension (except summary suspension) for more than nine
days may accept the outcome of the informal meeting or
request a formal hearing prior to the impostion of sanctions.
The University reserves the right to choose whether to assign
the student to a formal administrative hearing or to a University
Student Conduct Board hearing. <span style="font-weight: bold;">Students may waive their
right to a formal hearing and appeal the outcome of the
informal conduct meeting.</span><p>
<p>Students referred for a formal hearing shall be given
written notice of the time, place and date of the hearing. A
student’s failure to appear shall not prevent the hearing from
proceeding as scheduled. Prior to the hearing, the accused
student shall be informed in writing of: a) the complaint,
b) the type of information to be presented, c) the nature of
witness information.</p>
<p>The hearing may accommodate concerns for the personal
safety, well-being, and/or fears of confrontation of the
complainant, accused student, and/or other witness during
the hearing by providing for the presence of law enforcement
and/or security, separate facilities, by using a visual screen,
and/or by permitting participation by telephone, closed circuit
television, video conferencing, videotape, audio tape, written
statement, or other means, where and as determined in the sole
judgment of the Director of Student Conduct to be appropriate.</p>
<p>At the hearing, the accused student will be given an opportunity
to speak on his/her own behalf, present witnesses and pose
questions to be asked of University witnesses, and to have
an advisor present, if desired. The accused student shall be
notified in writing of the outcome within a reasonable period of
time. The notice shall include information regarding the appeal
process if the student is found responsible for a violation. In
cases involving suspension for 10 days or longer, students shall
be informed of their right to request a contested case hearing
under Minnesota State Statute 14.</p>
<h3>E. Grounds for Appeal</h3>
<p>An appeal opportunity is afforded to students disciplined for an
alleged violation of the “Statement of Student Responsibilities.”
The student must submit an appeal by the deadline noted in
the hearing outcome letter. An appeal is not a rehearing of a
case. An appeal must be based on an error in the disciplinary
process that substantially impacted the outcome. An appeal
hearing will be scheduled only if there is sufficient reason
to believe that one or more of the grounds articulated in the
student’s appeal letter may have merit.</p>
<p style="font-weight: bold;">The following will be allowed as grounds for appeal:</p>
<p>1. New evidence not reasonably available at the time of the
hearing.</p>
<p>2. Evidence of a procedural error in the student disciplinary
process that substantially impacted the outcome.</p>
<p>3. Evidence that the sanction is excessively severe.</p>
<p><span style="font-weight: bold;">Grounds for appeal do not include</span> the stress, expense
and inconvenience of relocation, contract termination or
suspension; the cost of educational sanctions, such as Under
the Influence or CHOICES; disruption to studies; separation
from friends; lack of familiarity with rules; good character;
or a personal commitment to behaving better in the future.
Sanctions are intended to have significant impact in order to
effectively deter students from engaging in future misconduct. A
student who fails to appear for a conduct meeting may appeal
but <span style="text-decoration: underline;">not</span> on the grounds of “new evidence not reasonably
available at the time of the hearing.”</p>
<p>For cases involving expulsion or suspension of 10 days or
longer, an appeal hearing is a student right if an appeal letter
identifying permitted grounds is submitted by the deadline
noted in the hearing outcome letter.</p>
<p>Possible appeal outcomes include: 1) upholding the previous
decision; 2) changing or decreasing the sanction; 3) changing
or increasing the sanction; 4) referring the case back for a
new hearing.</p>
<h3>F. Imposition of Sanctions</h3>
<p>The accused student shall be notified of the date that sanctions
go into effect. A student facing disciplinary suspension or
expulsion under MnSCU 3.6 may be permitted to remain on
campus pending the outcome of a campus level appeal under
specified terms and conditions, e.g. restricted access to certain
facilities, limited amount of time on campus, etc. Sanctions
under MnSCU 3.6 that are upheld on appeal go into effect
as noted in the appeal outcome letter regardless of a pending
Chapter 14 hearing. Sanctions under MnSCU 1B.1/1B.3 go
into effect immediately as noted in the decisionmaker’s outcome
letter regardless of a pending appeal or Chapter 14 hearing.</p>
<h3>Interpersonal/Student Organization Conflicts</h3>
<p>Interpersonal conflicts between acquaintances or members
of a student organization are typically referred to mediation
or to applicable student organization review processes as
an alternative to discipline. Mediation involves voluntary
participation in a structured problem solving process where
a neutral third party assists disputing individuals in resolving
their differences. Violation of the mediation agreement permits
the case to return to the student conduct system if the dispute
constitutes a possible violation of the “Statement of Student
Responsibilities.” Mediation often resolves roommate disputes,
property/financial disagreements, relationship issues, incivility
and conflicts between members of a student organization.</p>
<h3>Disciplinary Outcomes</h3>
<p>When a student is found responsible for a violation of the
“Statement of Student Responsibilities,” one or more of the
following actions may be taken:</p>
<div id="list-lower-alpha">
<ol>
<li>University disciplinary warning: the issuance of a written
warning that indicates the alleged action constitutes
inappropriate behavior for a member of the University
community.</li>
<li>University disciplinary probation: continuance at the
University but under specific conditions or required activities
imposed for a specified period of time resulting from a
policy violation. This is a period of observation during which
time the student is expected to demonstrate a willingness
and ability to strictly comply with University standards.
Progressive disciplinary action will result, including
suspension or expulsion, if repeat violations occur, especially
during the probationary period.</li>
<li>Required compliance: includes such activities as carrying
out a University mandate as a condition for being admitted,
continuing enrollment, or graduating from the University.</li>
<li>Reassignment within the residence communities; termination
of a Residential Life contract.</li>
<li>Denial of the privileges of representing the University in
cocurricular activities.</li>
<li>Loss of computer access privileges through the University.</li>
<li>Education: mandatory educational activities such as online
assessment, alcohol education workshops and writing
assignments that may include program fees. A HOLD
can be placed on course registration to ensure timely
completion of sanctions.</li>
<li>Community service: assigned unpaid hours on-campus or
in the community.</li>
<li>Restitution: required services, payment or reimbursement
of funds to the University or to other persons, groups
or organizations for damages incurred as a result of a
violation; letters of apology.</li>
<li>Confiscation: confiscation of goods used or possessed in
violation of University regulations.</li>
<li>University disciplinary suspension: separation from
the University for a specified period of time. During
the suspension period the student cannot qualify for
graduation nor progress toward a degree by registering
for, taking or completing classes at the University. Credits
earned elsewhere during the suspension period cannot
be transferred to Minnesota State Mankato without prior
approval. Additionally, the student can’t participate in a
University sponsored activity or be present on campus
without prior approval from the Office of Student Conduct.
Conditions for re-admission may be specified. Notation
of such suspension is made on the student’s academic
transcript. The notation is removed at the end of the
suspension period.</li>
<li>Students may be suspended at any point in the academic
year with suspension retroactive to the first day of the term
in which the incident or discipline occurs.</li>
<li>University disciplinary expulsion: permanent separation
from the University. Notation of the expulsion is made on
the student’s academic transcript.</li>
<li>Admission to or a degree awarded from the University
may be revoked for fraud, misrepresentation, or other
violation of university standards in obtaining the degree,
or for other serious violations committed by a student prior
to graduation.</li>
<li>The University may withhold awarding a degree
otherwise earned until the completion of the process set
forth in the Statement of Student Responsibilities, including
the completion of all sanctions imposed.</li>
</ol>
</div>
<h2>University Student Conduct Board</h2>
<p>The University Student Conduct Board is authorized by the
University President to hear alleged violations and to act based
upon its findings. The Board consists of representatives from the
faculty association, student association, and the association of
administrative and service faculty. Its members are nominated
by the respective associations. Four panel members, including
a student chairperson, constitute a quorum.</p>
<h2>Rehearing of a Violation</h2>
<p>If a student is found not responsible for an alleged violation,
the University may later schedule another conduct meeting if
new information is subsequently discovered that may have
impacted the outcome. Such a rehearing may only occur if the
new information could not have been found or produced, with
reasonable diligence, at the original conduct meeting.</p>
<h2>Confidentiality of Student Conduct Records</h2>
<p>Records will be maintained in the unit with the original jurisdiction
over the case. The Office of Student Conduct also maintains
institutional records of formal hearings. Under current state and
federal data privacy statutes, disciplinary records are private
and may be released to non-University agencies or individuals
only with the written permission of the student or pursuant to a
court order. Upon receipt of written permission from the student,
information authorized for disclosure will be released to a third
party in accordance with the signed release form.</p>
<p>Further information can be found in the Minnesota State
University, Mankato Student Education Records policy.</p>
<h2>Notations on Transcript</h2>
<p>Only notations of disciplinary suspension and disciplinary
expulsion sanctions will be made on the student’s academic
transcript. The notation will remain for the duration of the
sanction period. Any transcript issued during that time will
indicate disciplinary suspension or expulsion. At the end of
a disciplinary suspension, the notation will be removed from
the transcript. Students who are expelled from the University
may petition the President to have the notation of expulsion
removed from their transcript four years after the expulsion
takes effect. The petition must contain grounds for the request.</p>
<p>A student expelled or suspended from the University may
contact the Director of Student Conduct to discuss when the
notation is placed on the transcript and how the transcript is
provided to others.</p>
<h2>Non-student Restrictions</h2>
<p>Disruptive non-students alleged to have violated the Statement
of Student Responsibilities can be restricted from University
owned or controlled property for one year. If necessary,
the Office of Student Conduct can extend the restriction.
Individuals who are restricted may submit a written appeal to
the Office of Student Conduct within fourteen (14) business
days of notification, and a written response will follow.</p>
<h2>Additional Information</h2>
<p>For additional information regarding this “Statement of Student
Responsibilities,” including procedures used, contact the Office
of Student Conduct, Minnesota State University, Mankato,
507-389-2121, or 507-389-2246 (fax). Information can also
be found on the Student Conduct Web site at
<span style="font-weight: bold;">www.mnsu.edu/conduct/.</span></p>
<p>opted as official University policy November 1980.</p>
<p>Policy formally revised 1992, 1999, 2005, 2012.</p>